/* CSS Document */

body{
/*	background-image: url(img/bluesgroup.jpg); */
	background-repeat: no-repeat;
	background-color: black;
	background-attachment:local;
	background-size:cover;
	width: 90%;
	margin: auto;
	color: white;
	font-family: Helvetica, Arial, "sans-serif";
}
a:link{ 
	text-decoration:none; 
	color:white; 
	size:1.5em;
}
a:visited{ 
	text-decoration:none;
	color:white; 
	size:1.5em;
}
a:hover{ 
	text-decoration:none; 
	color:#00A0D9;
	size:1.5em;
}
a:active{
	text-decoration:none;
	color:white;
	size:1.5em;
}
.wrapper{
	height: 85vh;
}
.gigs{
	background-image: url(img/Dr.Bowling-2017_01.jpg);
	color: white;
	background-size: contain;
}
.albums{
	background-repeat:no-repeat;
	background-position: top;
	background-attachment:fixed;
	background-size:contain;
	background-origin: top;
	height: 90vh;
	width: 90%;
	margin: auto;
	padding-top: 15vh;
}
.about{
	width: 90%;
	margin: auto;
	padding-top: 15vh;

}
.contact{
	background-image: url(img/IMG_0127.jpg);
	background-repeat:no-repeat;
	background-position: center 15vh;
	background-attachment:fixed;
	background-size:contain;
	background-origin: top;
	height: 90vh;
	width: 90%;
	margin: auto;
	padding-top: 15vh;
}
nav{
	width: 90%;
	background-color: rgba(0,0,0,1.00);
	position: fixed;
	top:0;
	height:12vh;
}

.navi{
	text-align: center;
	width: 20%;
	color: white;
	float: left;
	font-size:2em;
	background-color: rgba(0,0,0,1.00);

}

.name{
	width: 100%;
	background-color: black;

}
.fb-like{
	width:100%;
}
/* landing */
.landing{
	background-image:url(img/bluesgroup.jpg);
	background-repeat:no-repeat;
	background-position:center 15vh;
	background-attachment:fixed;
	background-size:contain;
	margin:auto;
	width: 90%;
	height: 90vh;
}
/* gigs */
.evWrapper{
	background-image:url();
	background-repeat: no-repeat;
	background-position:center 15vh;
	background-attachment: fixed;
	background-size: contain;
	width: 90%;
	margin: auto;
	height: auto;
	padding-top: 15vh;
	
}
.event{
	width: 20%;
	float: left;
	margin: 1%;
}
.evImg{
}
.evDesc{
	width: 85%;
	color: white;
	margin: auto;
	text-align: right;
	background-color: rgba(0,0,50,0.58);	
}
.event2{
	width: 90%;
	margin: auto;
	height: 50vh;
	margin-top: 10vh;
	background-image: url(img/swfest.jpg);
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position:center 15vh;
	background-attachment: fixed;
	background-size: contain;
}
.event3{
	width:90%;
	margin: auto;
	margin-top: 10vh;
	height: 50vh;
	background-image: url(img/Rze55EZg.jpeg);
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: contain;
}
.event4{
	width:90%;
	margin: auto;
/*	margin-top: 10vh;*/
	height: 50vh;
	background-image: url(img/AW9jl1uu.jpeg);
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: contain;
}
.ev2Img	{
	width: 15%;
	float: left;
}
.ev2Desc{
	float: left;
	margin: 1em;
	border-radius: 10px;
	width: 80%;
	background-color: rgba(0,0,0,0.3);
	padding: 1em

}
.ev2Right{
	float: right;
	text-align: left;
	width: 50%;
}
.ev2Left{
	float: left;
	text-align: left;
	width: 50%;
}
/*albums */

.left{
	width: 50%;
	float:left;
	text-align: center;
	padding-top:1em;
	bottom: 0;

}
.right{
	width: 50%;
	float: right;
	text-align: center;
	padding-top:1em;

}
.socials{
	float: right;
	width: 90%;
	margin-right: 5%;
	text-align: right;
	
}
/*about*/
.desc{
	width: 30%;
	margin-left: 300px;
	margin-top:50px;
	padding: 0.2em;
	border-radius: 0.4em;
	background:rgba(0,0,0,0.5);
	color:white;
}
/*mailchimp*/
#mc_embed_signup_scroll{
	background:rgba(0,0,0,0.2);
	text-align: right;
	padding-right: 2em;
	padding-left:2em;
	margin-right:2em;
	padding-bottom: 1em;
	border-radius: 1em;
	float: right;
}
.mc-field-group{

}
.clear{

}
@media only screen and (max-width:768px){
	.navi{
		font-size: 1.2em;
	}
	.landing{
		height: 50vh;
	}
	.left{
	display: none;
	width: 90%;
	float:none;
	text-align: center;
	}
	.right{
	width: 90%;
	float:none;
	text-align: center;
	}
	.event2{
		background-position: center 20vh;
		height: 70vh
	}
	.event3{
		background-position: center 20vh;
		height: 70vh
	}
}